.nav-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.nav-menu-grid {
  display: grid;
  gap: 7rem;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding-left: 0%;
  font-size: 1.5rem;
}

.nav-style {
  margin: 0 auto;
  color: whitesmoke;
}

.nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  text-decoration: none;
}

.nav-item {
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.1);
  font-weight: 700;
  cursor: pointer;
}

