* {
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

body{
    background-color: whitesmoke;
}

a {
    text-decoration: underline;
    color: whitesmoke;
}

/* Header */

header {
    background-color: #3e6193;
    color: whitesmoke;
    margin: -8px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    padding-left: 15px;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
}

header div ul {
    list-style-type: none;
    padding-top: 15px;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* About Me Section */

h2 {
    text-align: left;
    margin: 10px;
    padding-top: 10px;
    font-size: 25px;
    color: whitesmoke;
}

.aboutMeImg {
    width:  300px;
    height: 400px;
    float: right;
    border-radius: 5px;
}

.aboutMeSection {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    background-color: #bcca8b;
    border-radius: 5px;
}

.aboutMeText {
    padding-left: 30px;
    font-size: 17px;
}

/* Work Section */

h3 {
    font-size: 40px;
    text-align: center;  
    margin-bottom: 10px;
    margin-top: 10px;
}

.workApp1{
    width: 800px;
    height: 500px;
    display: inline-block;
    border-width: 6px;
    border-style: solid;
    border-color: #bcca8b;
    background-image: url(./images/maroon-bells.jpg);
    border-radius: 5px;
}

.trail {
   width: 200px;
   margin-top: 448px;
   margin-left: -6px;
   margin-right: 600px;
   color: whitesmoke;
   background-color: #3e6193;
   font-size: 25px;
   text-align: center;
}

.trail:hover {
    cursor: pointer;
}

/* Small Apps */

.smallApps {
    height: 479px;
    width: 800px;
    background-color: #bcca8b;
    float: right;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.small1 {
    height: 150px;
    width: 380px;
    background-color: #3e6193;
    margin-top: 5px;
    margin-left: 10px;
}

.small2 {
    height: 150px;
    width: 380px;
    background-image: url(./images/1587852538115.jpeg);
    margin-top: 5px;
    margin-left: 10px;
}

.small3 {
    height: 150px;
    width: 380px;
    background-color: #3e6193;
    margin-top: 5px;
    margin-left: 10px;
}

.small4 {
    height: 150px;
    width: 380px;
    background-color: #3e6193;
    margin-top: 5px;
    margin-left: 10px;
}

.small5 {
    height: 150px;
    width: 380px;
    background-color: #3e6193;
    margin-top: 5px;
    margin-left: 10px;
}

.small6 {
    height: 150px;
    width: 380px;
    background-color: #3e6193;
    margin-top: 5px;
    margin-left: 10px;
}

/* Contact Me footer*/



/* Media Query */
@media screen and (max-width:  1708px) {
    .smallApps {
        float: left;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1200px) {
    header div ul {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    padding: 0;
    }

    header div {
        margin-right: 20px;
        float: right;
        font-size: 25px;
  }
}



@media screen and (max-width: 768px) {
    .workApp1{
        width: 700px;
    }

    .smallApps {
       width: 700px; 
    }

    header h1 {
        font-size: 25px;
    }

    header div ul {
        font-size: 12px;
        display: block;
    }

    .smallApps {
        width: 335px;
        height: 970px;
    }
}

/* CellPhone View */

@media screen and (max-width:745px) {
    * {
        margin-left: 0px;
    }
    
    header h1 {
        font-size: 10px;
    }

/* Header */

    header div ul {
        font-size: 5px;
        display: flex;
        flex-direction: row;
        margin: 0px;
    }

    header div {
        margin-right: 0px;
        float: right;
        font-size: px;
        padding-top: 9px;
    }

/* About Me Section */

      .aboutMeImg {
        height: 250px;
        width: 200px;
        margin-right: 0px;
        
     }

     .aboutMeText {
        font-size: 12px;
     }

     h2 {
        font-size: 15px;
        text-align: center;
     }

/* Work Section */
     h3 {
        font-size: 20px;
     }

     .workApp1 {
        width: 380px;
     }

     .trail {
        font-size: 20px;
        height: 35px;
        margin-top: 471px;
     }

     .smallApps {
        width: 335px;
        height: 970px;
     }
}
